<div class="relative flex items-center justify-start w-full" [ngClass]="['text' + contrastInv]">
	<div class="flex items-center justify-start w-full h-full gap-2 py-4 mx-auto overflow-auto">
		<div *ngFor="let i of [1, 2, 3, 4, 5]" class="relative flex flex-shrink-0">
			<img
				src="https://source.unsplash.com/random/240x360/?{{ i }}"
				class="object-cover object-center sm:h-96 sm:w-60 w-32 h-52 bg-coolGray-500"
			/>
		</div>
	</div>
	<button
		aria-label="Slide back"
		type="button"
		class="absolute left-4 p-2 rounded-md bg-opacity-50 shadow-md"
		[ngClass]="['bg' + neutral, 'hover:bg' + default, 'focus-visible:bg' + default]"
	>
		<svg class="w-4 h-4" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M7 1L1 7L7 13"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
		</svg>
	</button>
	<button
		aria-label="Slide forward"
		type="button"
		class="absolute right-4 p-2 rounded-md bg-opacity-50 shadow-md"
		[ngClass]="['bg' + neutral, 'hover:bg' + default, 'focus-visible:bg' + default]"
	>
		<svg class="w-4 h-4" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M1 1L7 7L1 13"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
		</svg>
	</button>
</div>
